<a href="https://colab.research.google.com/github/jvtelles/Projects/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("Olá mundão")

Olá mundão

In [3]:
idade = 30
print (idade)

nome = 'João Telles'
print(nome)

30
João Telles

In [37]:
del print

In [40]:
preco = 10
tipo_preco = type (preco)

print (preco)
print (tipo_preco)

juros = 10.10
tipo_juros = type (juros)

print (juros)
print (tipo_juros)

10
<class 'int'>
10.1
<class 'float'>

In [53]:
primero_nome = "João"

print (primero_nome)
print (type (primero_nome))

pais = "Usa"

print (pais)
print (type (pais))

João
<class 'str'>
Usa
<class 'str'>

In [56]:
joao_maior_de_idade = True

print (joao_maior_de_idade)
print (type (joao_maior_de_idade))

True
<class 'bool'>

In [60]:
telefone = None

print (telefone)
print (type (telefone))

None
<class 'NoneType'>

In [62]:
pessoas = 10
mini_coca = 5
duplas_totais = 5

print (pessoas / mini_coca)

2.0